#map{ 
	position: absolute;
	box-sizing: border-box;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
		}
.leaflet-top{
	top:78px
}
.leaflet-left .leaflet-control{
	margin-left:0px;
	border-radius:0px;
	border:none;
	box-shadow: 2px 2px 10px black;
}
.leaflet-control-layers-toggle, .leaflet-control-layers-expanded, .leaflet-control-layers {
	box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.7) !important ;
}
.leaflet-popup-content{
	font-size:1.3em
}

.content, .icon{
	font-size: 0.9rem;
	
}
.leaflet-control-layers label{
	font-size: 1.3em;
}

header{
	position:fixed;
	z-index:1000;
	background-color:#0a172b;
	width:100%;
	text-align:center;
	color:white;
	font-size: 30px;
	padding: 12px 0px;
	box-shadow: 4px 0px 12px #0a172b;
}

header img{
	position:absolute;
	height:42px;
	right:42px;
	top:10px

}